body{
    background: url("https://wallpaperscraft.com/image/lines_wavy_strip_paint_88557_1920x1080.jpg") no-repeat center center fixed;
    background-size: cover;
    font: 16px sans-serif;
    margin: 0;
}
h1{
    width: auto;
    line-height: 50px;
    text-align: center;
    font-weight: 300;
    font-variant: small-caps;
    margin: 0 0 20px;
    color: #fff;
    background: #222;
    font-family: "Oxygen";        
}
.image{
    width: 60px; 
    vertical-align: -20px;
}
.rang8{
    margin-top: 50px; 
}
table{
     border-collapse: collapse;
     margin: auto;
}     
td{
    border: 1px solid black; 
    width: 60px;
    height: 50px;
} 
.invisible{
    border: none;
}
.weight{
    text-align: right;
    font-size: 60%;  
}
.elem{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.num {
    text-align: left;
    font-size: 65%;
    font-weight: bold;  
}
.green{
    background-color: #AC95FC;
}
.brown{
    background-color: #97FDA4;
}
.red{
    background-color: #FEC696;
}
.blue{
    background-color: #95E0FD;
}
.yellow{
    background-color: #F796FD;
}
.grey{
    background-color: #C9C9C9;
}
.pink{
    background-color: #EDFE98;
}
.orange{
    background-color: #FEDF97;
}
.banana{
    background-color: #FFF898;    
}
.green1{
    background-color: #D4FD98;
}
.green2{
    background-color: #BBFD97;
}
.inter:hover{
    -webkit-transition-duration: 0.1s;  
    transition-duration: 0.1s;
    transform:scale(1.3);
    -webkit-transform: scale(1.3);
    opacity: 0.98;
    background-color: #FFF;
    box-shadow: 0 0 8px #222;
}

.ranginvi > .invisible{
    height: 10px!important;
}

@media screen and (max-width:900px){
td{
    border: 1px solid black; 
    width: 40px;
    height: 40px;
} 
.invisible{
    border: none;
}
.weight{
    text-align: right;
    font-size: 50%;  
}
.elem{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.num {
    text-align: left;
    font-size: 45%;
    font-weight: bold;  
}
}
@media screen and (max-width:680px){
td{
    border: 1px solid black; 
    width: 40px;
    height: 40px;
} 
.invisible{
    border: none;
}
.weight{
    text-align: right;
    font-size: 30%;  
}
.elem{
    text-align: center;
    font-weight: bold;
    font-size: 80%;  
    padding: 5px;
}
.num {
    text-align: left;
    font-size: 25%;
    font-weight: bold;  
}
@media screen and (max-width:570px){
td{
    border: 1px solid black; 
    width: 40px;
    height: 40px;
} 
.invisible{
    border: none;
}
.weight{
    text-align: right;
    font-size: 30%;  
}
.elem{
    text-align: center;
    font-weight: bold;
    font-size: 60%;  
    padding: 5px;
}
.num {
    text-align: left;
    font-size: 25%;
    font-weight: bold;  
}
@media screen and (max-width:490px){
td{
    border: 1px solid black; 
    width: 40px;
    height: 40px;
} 
.invisible{
    border: none;
}
.weight{
    text-align: right;
    font-size: 25%;  
}
.elem{
    text-align: center;
    font-weight: bold;
    font-size: 40%;  
    padding: 5px;
}
.num {
    text-align: left;
    font-size: 20%;
    font-weight: bold;  
}
}
@media screen and (max-width:490px){
td{
    border: 1px solid black; 
    width: 40px;
    height: 40px;
} 
.invisible{
    border: none;
}
.weight{
    text-align: right;
    font-size: 25%;  
}
.elem{
    text-align: center;
    font-weight: bold;
    font-size: 40%;  
    padding: 5px;
}
.num {
    font-size: 20%;
}
}
@media screen and (max-width:400px){
.weight{
    font-size: 20%;  
}
.elem{
    font-size: 35%;  
}
.num {
    font-size: 25%; 
}
}
@media screen and (max-width:336px){
.weight{
    font-size: 8%;  
}
.elem{
    font-size: 20%;  
}
.num {
    font-size: 12%; 
}
}